<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.babyElephant.dao.BannerDao">

    <select id="getBanner" parameterType="com.babyElephant.util.page.Page" resultType="com.babyElephant.po.Banner">
        SELECT * FROM  T_BANNER WHERE STATUS=#{params.status}
    </select>

</mapper>